# Team 5 tamrin 1
-  Fateme Sharbatian
-  Fateme jafari
-  Hanie nori

# Import and load dataset

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing as prep
from scipy.stats import variation

df = pd.read_csv('Data/iris.txt', header=None)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       0    1    2    3                4
0    5.9  3.0  4.2  1.5  Iris-versicolor
1    6.9  3.1  4.9  1.5  Iris-versicolor
2    6.6  2.9  4.6  1.3  Iris-versicolor
3    4.6  3.2  1.4  0.2      Iris-setosa
4    6.0  2.2  4.0  1.0  Iris-versicolor
..   ...  ...  ...  ...              ...
145  5.4  3.4  1.7  0.2      Iris-setosa
146  5.5  2.6  4.4  1.2  Iris-versicolor
147  6.7  3.0  5.2  2.3   Iris-virginica
148  7.7  3.8  6.7  2.2   Iris-virginica
149  5.1  3.4  1.5  0.2      Iris-setosa

[150 rows x 5 columns]

# Change header

In [64]:
df.columns = ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']
df.head(3)

   sepalLength  sepalWidth  petalLength  petalWidth          species
0          5.9         3.0          4.2         1.5  Iris-versicolor
1          6.9         3.1          4.9         1.5  Iris-versicolor
2          6.6         2.9          4.6         1.3  Iris-versicolor

# Find and drop duplicate training example

In [65]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepalLength  147 non-null    float64
 1   sepalWidth   147 non-null    float64
 2   petalLength  147 non-null    float64
 3   petalWidth   147 non-null    float64
 4   species      147 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.9+ KB

# Encoding species

In [66]:
labelEncoder = prep.LabelEncoder()
df['species'] = labelEncoder.fit_transform(df['species'])
df['species'].unique()

array([1, 0, 2])

# Mean, SDT, min, max, and quarter

In [67]:
df.describe()

       sepalLength  sepalWidth  petalLength  petalWidth     species
count   147.000000  147.000000   147.000000  147.000000  147.000000
mean      5.856463    3.055782     3.780272    1.208844    1.006803
std       0.829100    0.437009     1.759111    0.757874    0.815069
min       4.300000    2.000000     1.000000    0.100000    0.000000
25%       5.100000    2.800000     1.600000    0.300000    0.000000
50%       5.800000    3.000000     4.400000    1.300000    1.000000
75%       6.400000    3.300000     5.100000    1.800000    2.000000
max       7.900000    4.400000     6.900000    2.500000    2.000000

# Variance and CV

In [68]:
df.var()

sepalLength    0.687407
sepalWidth     0.190977
petalLength    3.094471
petalWidth     0.574373
species        0.664337
dtype: float64

In [69]:
variation(df, axis=0)

array([0.14108772, 0.14252316, 0.46375427, 0.62480543, 0.80680316])

# Covariance and Correlation

In [70]:
sepalLSepalWCov = np.cov(df['sepalLength'], df['sepalWidth'])[0, 1]
sepalLPetalWCov = np.cov(df['sepalLength'], df['petalLength'])[0, 1]
sepalLPetalWCov = np.cov(df['sepalLength'], df['petalWidth'])[0, 1]
sepalWPetalLCov = np.cov(df['sepalWidth'], df['petalLength'])[0, 1]
sepalWPetalWCov = np.cov(df['sepalWidth'], df['petalWidth'])[0, 1]
petalLPetalWCov = np.cov(df['petalLength'], df['petalWidth'])[0, 1]
# :D
sepalLSepalWCov

-0.0396095424471158

In [71]:
cov = []
cov.append(np.corrcoef(df['sepalLength'], df['sepalWidth'])[0, 1])
cov.append(np.corrcoef(df['sepalLength'], df['petalLength'])[0, 1])
cov.append(np.corrcoef(df['sepalLength'], df['petalWidth'])[0, 1])
cov.append(np.corrcoef(df['sepalWidth'], df['petalLength'])[0, 1])
cov.append(np.corrcoef(df['sepalWidth'], df['petalWidth'])[0, 1])
cov.append(np.corrcoef(df['petalLength'], df['petalWidth'])[0, 1])
# :D