In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [31]:
data = open('data/iris.csv')
df_iris = pd.read_csv(data, sep= ',', header= None)
df_iris.head()

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2       se
2           4.9            3           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

In [32]:
df_iris.columns= ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'iris_name']
encoder = LabelEncoder()
classes = encoder.fit_transform(df_iris['iris_name'])
df_iris['class'] = classes
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width iris_name  class
0  sepal_length  sepal_width  petal_length  petal_width   species      2
1           5.1          3.5           1.4          0.2        se      0
2           4.9            3           1.4          0.2    setosa      1
3           4.7          3.2           1.3          0.2    setosa      1
4           4.6          3.1           1.5          0.2    setosa      1

In [33]:
df_iris.loc[df_iris.duplicated()]

    sepal_length sepal_width petal_length petal_width  iris_name  class
35           4.9         3.1          1.5         0.1     setosa      1
38           4.9         3.1          1.5         0.1     setosa      1
143          5.8         2.7          5.1         1.9  virginica      4

In [34]:
df_iris.drop(index=[67,120,134])

     sepal_length  sepal_width  petal_length  petal_width  iris_name  class
0    sepal_length  sepal_width  petal_length  petal_width    species      2
1             5.1          3.5           1.4          0.2         se      0
2             4.9            3           1.4          0.2     setosa      1
3             4.7          3.2           1.3          0.2     setosa      1
4             4.6          3.1           1.5          0.2     setosa      1
..            ...          ...           ...          ...        ...    ...
146           6.7            3           5.2          2.3  virginica      4
147           6.3          2.5             5          1.9  virginica      4
148           6.5            3           5.2            2  virginica      4
149           6.2          3.4           5.4          2.3  virginica      4
150           5.9            3           5.1          1.8  virginica      4

[148 rows x 6 columns]

In [35]:
df_iris.mean(numeric_only=True)

class    2.655629
dtype: float64

In [36]:
df_iris.median(numeric_only=True)

class    3.0
dtype: float64

In [37]:
df_iris.mode()

  sepal_length sepal_width petal_length petal_width   iris_name  class
0            5           3          1.5         0.2  versicolor      3
1          NaN         NaN          NaN         NaN   virginica      4

In [38]:
df_iris.var(numeric_only=True)

class    1.587285
dtype: float64

In [39]:
df_iris.std(numeric_only=True)

class    1.259875
dtype: float64

In [40]:
df_iris.cov(numeric_only=True)

          class
class  1.587285

In [41]:
df_iris.corr(numeric_only=True)

       class
class    1.0

In [42]:
cov_matrix = df_iris.cov(numeric_only=True)
tot_var = np.trace(cov_matrix)
gen_var = np.linalg.det(cov_matrix)
print('tot_var =',tot_var)
print('gen_var =',gen_var)

tot_var = 1.5872847682119189
gen_var = 1.5872847682119189