# Tamrin-5 (Team 3)

Team 3: Moein Atiabi, Ali Mehrjo, Mohammad Talebi

# Importing Libraries

In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

print('Libraries loaded.')

Libraries loaded.

# Upload Dataset

In [19]:
iris_df = pd.read_csv('Data/iris.txt', sep=',', header= None)
iris_df.head()

     0    1    2    3                4
0  5.9  3.0  4.2  1.5  Iris-versicolor
1  6.9  3.1  4.9  1.5  Iris-versicolor
2  6.6  2.9  4.6  1.3  Iris-versicolor
3  4.6  3.2  1.4  0.2      Iris-setosa
4  6.0  2.2  4.0  1.0  Iris-versicolor

تغییر نام سر ستون ها و انکدینگ مقدار نوع گل

In [21]:
df_iris.columns= ['sepal length', 'sepal width', 'petal length', 'petal width', 'iris']
encoder = LabelEncoder()
classes = encoder.fit_transform(df_iris['iris'])
df_iris['class'] = classes
df_iris.head()

,sepal length,sepal width,petal length,petal width,iris,class
0,5.9,3.0,4.2,1.5,Iris-versicolor,1
1,6.9,3.1,4.9,1.5,Iris-versicolor,1
2,6.6,2.9,4.6,1.3,Iris-versicolor,1
3,4.6,3.2,1.4,0.2,Iris-setosa,0
4,6.0,2.2,4.0,1.0,Iris-versicolor,1

یافتن مقادیر سطرهای تکراری

In [24]:
df_iris.loc[df_iris.duplicated()]

,sepal length,sepal width,petal length,petal width,iris,class
67,4.9,3.1,1.5,0.1,Iris-setosa,0
120,5.8,2.7,5.1,1.9,Iris-virginica,2
134,4.9,3.1,1.5,0.1,Iris-setosa,0

حذف مقادیر تکراری

In [25]:
df_iris.drop(index=[67,120,134])

,sepal length,sepal width,petal length,petal width,iris,class
0,5.9,3.0,4.2,1.5,Iris-versicolor,1
1,6.9,3.1,4.9,1.5,Iris-versicolor,1
2,6.6,2.9,4.6,1.3,Iris-versicolor,1
3,4.6,3.2,1.4,0.2,Iris-setosa,0
4,6.0,2.2,4.0,1.0,Iris-versicolor,1
...,...,...,...,...,...,...
145,5.4,3.4,1.7,0.2,Iris-setosa,0
146,5.5,2.6,4.4,1.2,Iris-versicolor,1
147,6.7,3.0,5.2,2.3,Iris-virginica,2
148,7.7,3.8,6.7,2.2,Iris-virginica,2
149,5.1,3.4,1.5,0.2,Iris-setosa,0

محاسبه پارامترهای میانگین، میانه، مد و واریانس را به ازای هر ویژگی محاسبه کنید

In [27]:
df_iris.median(numeric_only=True)

sepal length    5.80
sepal width     3.00
petal length    4.35
petal width     1.30
class           1.00
dtype: float64

In [48]:
df_iris.mode()

,sepal length,sepal width,petal length,petal width,iris,class
0,5.0,3.0,1.5,0.2,Iris-setosa,0
1,NaN,NaN,NaN,NaN,Iris-versicolor,1
2,NaN,NaN,NaN,NaN,Iris-virginica,2

In [49]:
df_iris.mean(numeric_only=True)

sepal length    5.843333
sepal width     3.054000
petal length    3.758667
petal width     1.198667
class           1.000000
dtype: float64

In [50]:
df_iris.var(numeric_only=True)

sepal length    0.685694
sepal width     0.188004
petal length    3.113179
petal width     0.582414
class           0.671141
dtype: float64

مقادیر توتال واریانس و واریانس جنرالایز شده را بدست آورید

In [52]:
cov_mat = df_iris.cov(numeric_only=True)
total_var = np.trace(cov_mat)
genral_var = np.linalg.det(cov_mat)
print('total variance =',total_var)
print('generalize variance =',genral_var)

total variance = 5.240432214765101
generalize variance = 8.887612340171652e-05